name: CI
on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  pull_request:
  schedule:
  - cron: '0 2 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  activate:
    if: |
      (github.event_name == 'schedule' && github.repository_owner == 'asciidoctor') ||
      (github.event_name != 'schedule' && !endsWith(github.event.head_commit.message, '[skip ci]'))
    runs-on: ubuntu-latest
    steps:
    - name: Proceed
      run: echo ok go
  build:
    needs: activate
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby: [jruby-9.2, '2.3', '2.7', '3.0', '3.1']
        exclude:
        # remove 3.1 on ubuntu-latest to mark as primary
        - os: ubuntu-latest
          ruby: '3.1'
        # remove 3.1 on windows as it's not yet available
        - os: windows-latest
          ruby: '3.1'
        # remove since JRuby on Windows gets newlines wrong in test suite
        - os: windows-latest
          ruby: jruby-9.2
        include:
        - os: ubuntu-latest
          ruby: truffleruby-21.1.0
        - os: macos-latest
          ruby: '3.1'
        - os: ubuntu-latest
          ruby: '3.1'
          primary: primary
    runs-on: ${{ matrix.os }}
    env:
      BUNDLE_WITHOUT: coverage:docs:lint
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: ${{ github.event_name != 'schedule' }}
    - name: Install dependencies (scheduled build only)
      if: github.event_name == 'schedule'
      run: |
        bundle config --local path vendor/bundle
        bundle config --local without coverage docs lint
        bundle --jobs 3 --retry 3
    - name: Install lint and coverage dependencies (primary only)
      if: matrix.primary
      run: |
        bundle config unset --local without
        bundle config --local without docs
        bundle --jobs 3 --retry 3
        echo 'COVERAGE=deep' >> $GITHUB_ENV
    - name: Run linter
      if: matrix.primary
      run: bundle exec rake lint
    - name: Run tests
      run: bundle exec ruby -w $(bundle exec ruby -e 'print File.join Gem.bindir, %q(rake)') spec
